<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	{{!-- semantic  --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />


	{{!-- favicon  --}}
	<link rel="fluid-icon" href="./images/fluidicon.png" title="ICON">
	<!-- font-Awesome  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- foundation-Sites  -->
	<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.css">
	{{!-- google fonts  --}}
	<link
		href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Poiret+One&family=Roboto&family=Special+Elite&display=swap"
		rel="stylesheet">
	{{!-- webmanifest  --}}
	<link rel="manifest" href="/manifest.webmanifest">
	<!-- own CSS  -->
	<link rel="stylesheet" href="./assets/css/style.css">
	<title>Twoork: Fitness Tracker 💪</title>
</head>

<body class="">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<main id="main-mane">
		{{{body}}}
	</main>

	<footer class="footer">
		<div class="footer-left">
			2020 &copy; gr\^_^/
		</div>
		<div class="footer-icons">
			<ul class="menu simple">
				<li><a href="https://github.com/gusvalenzuela" target="_blank"><i class="fa fa-github"
							aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/in/gus-valenzuela-b73b0296/" target="_blank"><i
							class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				<li><a href="#target-1" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<script src="./assets/js/index.js"></script>
</body>

</html>